.container-excl {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1576px;
  
    .con_inner {
      padding: 0 60px;
    }
  
    @media (max-width : 1048px) {
      .con_inner {
        padding: 0 30px;
      }
    }
  
    @media (max-width : 576px) {
      .con_inner {
        padding: 0 20px;
      }
    }
  
    @media (max-width : 320px) {
      .con_inner {
        padding: 0 10px;
      }
    }
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    // padding-top: 160px;
  
    // @media (max-width : 1048px) {
    //   padding-top: 160px;
    // }
  
    // @media (max-width : 576px) {
    //   padding-top: 100px;
    // }
}  

.bttn {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    cursor: pointer;
    color: $text-blue;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid $primary-border;
    border-radius: $primary-radius;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: $main-bg;
    height: 45px;

    &.btn-icon{
      padding: 15px;
    }
  
    &:disabled{
      cursor: not-allowed;
      background-color: #a8a8a8 !important;
    }
  
    &:hover {
      background-color: $primary-light-blue;
      color: #fff;
  
      .icon::before{
        color: $main-bg;
      }
    }
  }
  
  