*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  font-family: 'IranSansWeb', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  scroll-behavior: smooth;
  background-color: white;
}

body.is-overflow-deactivate {
  overflow: hidden;
}

.main {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }
}

input {
  border: none;
}

a{
  transition: 0.3s;
}
