@charset "UTF-8";

@font-face {
  font-family: "IranSansWeb";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb-Regular.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb-Regular.woff2") format("woff2");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: "IranSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb-Bold.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb-Bold.woff2") format("woff2");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: "IranSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb-Light.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb-Light.woff2") format("woff2");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: "IranSansUltraLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb-UltraLight.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb-UltraLight.woff2") format("woff2");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: "IranSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/IRANSansWeb-Medium.woff") format("woff"),
    url("../fonts/iranSans/IRANSansWeb-Medium.woff2") format("woff2");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}