// Colors
$primary-green: #4FB555;
$primary-light-blue: #00bfd6;
$icon-black-color: #424242;
$primary-black-1: #474747;
$primary-black-2: #656565;
$primary-red: #ef394e;
$primary-border-color: #e6e6e6;
$auth-bg: #EBECF7;
$border-color: #BBBBBB;

$maincolor: #494E7D;
$darkblue : #080F4D;
$darkgray : #333333;
$gray666 : #666666;
$blueskyfont : #198CFF;
$primaryblue : $maincolor;
$anotherblue: #616EE5;
$grayborder : #e7e7e7;
$primaryred : #E84747;
$graybbb : #bbbbbb;
$primaryGreen : #039A00;
$light-blue: #CBD0FF;
$oromo-color: #494E7D;

// etc
$primary-radius: 16px;
$primary-padding: 20px;

$shadowPrimary-1: 0 2px 4px 0 srgba(0, 0, 0, .1);
$shadowPrimary-2: 0 12px 12px 0 hsla(0, 0%, 71%, .1);

$icomoon-font-family: "icomoon";
$icomoon-font-path: "./fonts/icomoon";

$icon-call-ringing: "\e900";
$icon-question: "\e901";
$icon-caution: "\e902";
$icon-security: "\e903";
$icon-hammer: "\e904";
$icon-cross: "\e905";
$icon-ticket-discount: "\e906";
$icon-message: "\e907";
$icon-notification: "\e908";
$icon-logout: "\e909";
$icon-dashboard: "\e90a";
$icon-wallet: "\e90b";
$icon-refresh: "\e90c";
$icon-like: "\e90d";
$icon-dislike: "\e90e";
$icon-card: "\e90f";
$icon-receipt-text: "\e910";
$icon-edit: "\e911";
$icon-info-circle: "\e912";
$icon-calendar: "\e913";
$icon-truck-fast: "\e914";
$icon-location: "\e915";
$icon-shop: "\e916";
$icon-house: "\e917";
$icon-share: "\e918";
$icon-heart: "\e919";
$icon-telegram: "\e91a";
$icon-facebook: "\e91b";
$icon-linkdin: "\e91c";
$icon-subtract: "\e91d";
$icon-instagram: "\e91e";
$icon-twitter: "\e91f";
$icon-star: "\e920";
$icon-arrow-left: "\e921";
$icon-arrow-circle-left: "\e922";
$icon-arrow-circle-right: "\e923";
$icon-bag: "\e924";
$icon-arrow-down: "\e925";
$icon-user: "\e926";
$icon-search: "\e927";
