// Colors
$primary-blue: #007580;
$primary-light-blue: #029FAE;
$primary-red: #F05C52;

$icon-color: #272343;

$gray666 : #666666;
$graybbb : #bbbbbb;

$dark-gray : #636270;
$light-gray: #9A9CAA;
$text-blue: #272343;

$primary-bg: #F0F2F3;
$main-bg: #ffffff;
$white-bg: #ffffff;
$primary-border : #e6e6e6;

// etc
$primary-radius: 10px;
$primary-padding: 20px;

$shadowPrimary-1: 0 2px 4px 0 srgba(0, 0, 0, .1);
$shadowPrimary-2: 0 12px 12px 0 hsla(0, 0%, 71%, .1);


// icons
$icomoon-font-family: "icomoon";
$icomoon-font-path: "./fonts/icomoon";

$icon-call-ringing: "\e900";
$icon-question: "\e901";
$icon-caution: "\e902";
$icon-security: "\e903";
$icon-hammer: "\e904";
$icon-cross: "\e905";
$icon-ticket-discount: "\e906";
$icon-message: "\e907";
$icon-notification: "\e908";
$icon-logout: "\e909";
$icon-dashboard: "\e90a";
$icon-wallet: "\e90b";
$icon-refresh: "\e90c";
$icon-like: "\e90d";
$icon-dislike: "\e90e";
$icon-receipt-text: "\e910";
$icon-edit: "\e911";
$icon-info-circle: "\e912";
$icon-calendar: "\e913";
$icon-truck-fast: "\e914";
$icon-location: "\e915";
$icon-shop: "\e916";
$icon-house: "\e917";
$icon-share: "\e918";
$icon-heart: "\e919";
$icon-telegram: "\e91a";
$icon-facebook: "\e91b";
$icon-linkdin: "\e91c";
$icon-subtract: "\e91d";
$icon-instagram: "\e91e";
$icon-twitter: "\e91f";
$icon-star: "\e920";
$icon-arrow-left: "\e921";
$icon-arrow-circle-left: "\e922";
$icon-arrow-circle-right: "\e923";
$icon-bag: "\e924";
$icon-arrow-down: "\e925";
$icon-user: "\62";
$icon-search: "\e927";
$icon-order: "\64";
$icon-search: "\65";
